In [10]:
import sqlite3
import pandas as pd
# import mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Connexion à MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="johary",
    password="Nantenaina123!@#",  # Mets ton mot de passe
    database="vente"
)
# Connexion à MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="564279",  # Mets ton mot de passe
    database="vente"
)


query = """
SELECT Category, SUM(Sales) AS total_sales
FROM orders
GROUP BY Category;
"""

NameError: name 'mysql' is not defined

In [14]:
cursor = conn.cursor()
cursor.execute(query)

DatabaseError: file is not a database

In [7]:
pd.read_sql(query, conn)

DatabaseError: Execution failed on sql '
SELECT Category, SUM(Sales) AS total_sales
FROM orders
GROUP BY Category;
': file is not a database